nette:
    application:
        mapping:
            *: BF\*Module\*Presenter
    database:
        default:
            dsn: "mysql:host=127.0.0.1;dbname=bf_test"
            user: "root"
            password: "root"

extensions:
    ajax: Zax\DI\AjaxExtension # enable n:ajax macro in Latte

services:

    # router
    routerFactory: BF\Router\RouterFactory
    router: @routerFactory::create

    # form factory
    - BF\Forms\IFormFactory

    # model
    - BF\Model\Comments\CommentsRepository( comments )

    # component factories
    - BF\Components\IFlashMessageFactory

    - BF\Components\Comments\ICommentsFactory
    - BF\Components\Comments\IAddCommentFactory
    - BF\Components\Comments\IEditCommentFactory
    - BF\Components\Comments\IDeleteCommentFactory