{foreach $comments as $comment}
	<div class="well" style="margin-left: {$comment->depth * 20}px">
		<p>
			<strong>{$comment->author}</strong>
			<span class="pull-right">{$comment->time_posted}</span>
		</p>
		<p>
			{$comment->content}
		</p>
	</div>
{/foreach}